h1{font-size: 40px;
color: yellow; background: aqua;}
h2 {font-size: 100px; color: blue}
h3 {font-size: 30px; color: red;}
body{background-color: green;}

section{
  width: 400px;
  height: 600px;
  border: 4px;solid white;
    background-color: lightgreen;}
